body{
    margin:40px;
    background-color: #e8e8e4;
    font-size: 16px;
  }

.title{
    font-size: 36px;
    text-align: center;
  }

h2{
  font-size: 24px;
  text-align: right;
}

button {
    background-color:#ffa133;
    border: none;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    border-radius:30px;
    display: inline-block;
    font-size: 16px;
}

ul{
  list-style-type: none;
  padding: 2em;
  margin: auto;
  }
ul li {
    background: white;
    padding: 0.3em;
    border: 1px solid black;
    line-height: 32px;
    padding-left: 1em;
    border-radius: 30px;
   }
ul li.topic{
  padding: 8px;
  padding-left: 1em;
  background-color: #ffa133;
  color: black;
  font-size: 26px;
  border: 1px solid black;
}
